:root {
  --vh: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Noto Sans KR", sans-serif;
  background-color: transparent;
  border: none;
}
* {
  box-sizing: border-box;
}
